@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: rgb(241, 245, 249);
  border-radius: 10px;
}



::-webkit-scrollbar-thumb {
  background: rgb(100, 116, 139);
  border-radius: 10px;
  border: 2px solid rgb(241, 245, 249);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #161616;
}

.dark ::-webkit-scrollbar-thumb {
  background: #252525;
  border: 2px solid rgb(15, 23, 42);
}


.dark ::-webkit-scrollbar-corner {
  background-color: #161616;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@theme {
  --color-dark-white: #E1E1E1;
  --color-dark-hoverwhite: #CFCFCF;
  --color-dark-border: #161616;
  --color-dark-inputfield: #161616;
  --color-dark-activeborder: #838383;
  --color-dark-gray: #181818;
  --color-dark-hovergray: #202020;
  --color-dark-textgray: rgb(100, 116, 139);
  --color-dark-inputborder: #252525;
  --color-dark-black: #0A0A0A;
  --color-light-white: #FFFFFF;
  --color-light-black: #171717;
  --color-light-hoverblack: #2E2E2E;
  --color-light-border: #F2F2F2;
  --color-light-inputfield: #FFFFFF;
  --color-light-activeborder: #8A8A8A;
  --color-light-gray: #F1F2F2;
  --color-light-hovergray: #F5F5F5;
  --color-light-textgray: rgb(100, 116, 139);
  --breakpoint-xss: 340px;
  --font-family-mono: var(--font-jetbrains), ui-monospace, "Courier New", monospace;
  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
