@import 'ldrs/react/Ring.css';
@import 'ldrs/react/Ring2.css';
@import "tailwindcss";


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar-track {
  background: rgb(241, 245, 249);
  border-radius: 10px;
}



::-webkit-scrollbar-thumb {
  background: rgb(100, 116, 139);
  border-radius: 10px;
  border: 2px solid rgb(241, 245, 249);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #161616;
}

.dark ::-webkit-scrollbar-thumb {
  background: #252525;
  border: 2px solid rgb(15, 23, 42);
}


.dark ::-webkit-scrollbar-corner {
  background-color: #161616;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@theme {
  --color-dark-text-primary: #e2e8f0;
  /* Slate 200 */
  --color-dark-text-on-hover: #ffffff;
  /* White */

  --color-dark-border: #1e293b;
  /* Slate 800 */
  --color-dark-border-strong: #1e293b;

  --color-dark-surface: #030712;
  /* Slate 900 */
  --color-dark-surface-hover: #1e293b;
  /* Slate 800 */

  --color-dark-input-bg: #020617;
  /* Slate 950 */
  --color-dark-input-border: #1e293b;
  /* Slate 800 */

  --color-dark-accent: #6366f1;
  /* Indigo 500 */
  --color-dark-accent-hover: #818cf8;
  /* Slightly lighter indigo */

  --color-dark-text-muted: #94a3b8;
  /* Slate 400 */

  --color-dark-background: black;


  /* Light Theme */
  --color-light-text-primary: #0f172a;
  /* Slate 900 */
  --color-light-text-on-hover: #020617;
  /* Slate 950 */

  --color-light-border: #e2e8f0;
  /* Slate 200 */

  --color-light-background: #ffffff;
  /* White */
  --color-light-surface: #f8fafc;
  /* Slate 50 */
  --color-light-surface-hover: #f1f5f9;
  /* Slate 100 */

  --color-light-input-bg: #ffffff;
  /* White */
  --color-light-accent: #6366f1;
  /* Indigo 500 */

  --color-light-text-muted: #64748b;
  /* Slate 500 */

  --breakpoint-xss: 340px;
  --font-family-mono: var(--font-jetbrains), ui-monospace, "Courier New", monospace;
  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-family-bebas: var(--font-bebas)
}

.chart-container .recharts-wrapper:focus,
.chart-container .recharts-surface:focus {
  outline: none !important;
}

.beam-light path {
  stroke-dasharray: 400;
  animation: infinite 1.7s beam-start ease-in-out;
}

@keyframes beam-start {
  0% {
    stroke-dashoffset: 400;
  }

  100% {
    stroke-dashoffset: -400;
  }
}


@custom-variant dark (&:where(.dark, .dark *));

.conic {
  background: linear-gradient(
  330deg,
  rgba(54, 54, 54, .7),
  rgba(21, 21, 21, .7),
  rgba(182, 182, 182, .3)
);

}


.glass3d { 
  --filter-glass3d: blur(32px) brightness(0.48) saturate(2.5); 
  --color-glass3d: hsl(189 80% 10% / 0.2); 
  --noise-glass3d: url("https://www.transparenttextures.com/patterns/egg-shell.png"); 

  position: relative; 
  z-index: 4; 
  box-shadow:  
    0 0 0.75px hsl(205 20% 10% / 0.2), 
    0.7px 0.8px 1.2px -0.4px hsl(205 20% 10% / 0.1), 
    1.3px 1.5px 2.2px -0.8px hsl(205 20% 10% / 0.1), 
    2.3px 2.6px 3.9px -1.2px hsl(205 20% 10% / 0.1), 
    3.9px 4.4px 6.6px -1.7px hsl(205 20% 10% / 0.1), 
    6.5px 7.2px 10.9px -2.1px hsl(205 20% 10% / 0.1), 
    8px 9px 14px -2.5px hsl(205 20% 10% / 0.2); 
}

.glass3d::before { 
  content: ""; 
  position: absolute; 
  inset: 0; 
  pointer-events: none; 
  border-radius: inherit; 
  overflow: hidden; 
  z-index: 3; 
  
  -webkit-backdrop-filter: var(--filter-glass3d); 
  backdrop-filter: var(--filter-glass3d); 
  background-color: var(--color-glass3d); 
  background-image: var(--noise-glass3d); 
  background-size: 100px; 
  background-repeat: repeat; 
}

.glass3d::after { 
  content: ""; 
  position: absolute; 
  inset: 0; 
  pointer-events: none; 
  border-radius: inherit; 
  overflow: hidden; 
  z-index: 5; 
  
  box-shadow: 
    inset 2px 2px 1px -3px hsl(205 20% 90% / 0.8), 
    inset 4px 4px 2px -6px hsl(205 20% 90% / 0.3), 
    inset 1.5px 1.5px 1.5px -0.75px hsl(205 20% 90% / 0.15), 
    inset 1.5px 1.5px 0.25px hsl(205 20% 90% / 0.03), 
    inset 0 0 0.25px 0.5px hsl(205 20% 90% / 0.03); 
}

.glass3d > * { 
  position: relative; 
  z-index: 6; 
}
